/////////////////////////////////Body
$B_bgcolor: rgb(254, 254, 254);
/////////////////////////////////Header
$H_H: 8.4vw;
$H_W: 100vw;
$HaF_bgcolor: rgb(3, 73, 135) ;

$Ph_W: 99.8vw;
$Ph_H: 5vw;
$Ph_border:1px solid rgb(0, 0, 0) ;

$Pheader_h3_color: white;
$Pheader_h3_fs: 50px;

$Pheader_h3_W: 90px;
$Pheader_h3_H: 70px;

$Dh_W: 99.8vw;
$Dh_H: 3vw; 
$Dh_mt: 2px;
$Dh_ml: auto;
$Dh_mr: auto;
$Dh_border: 1px solid rgb(0, 0, 0);
$Dh_a: white;
$Dh_a_a: gray;
$Dh_h2_fs: 22px;
$Dh_h2_m: 20px;
/////////////////////////////////Footer
$F_mt: auto;
$F_W: 100%;
$F_H: 80px;

$F_h1_color: white;
$F_h1_fs:24px ;

$F_p_color: white;
$F_p_fs: 15px;
//////////////////////////////////mHaF
$mHaF_W: 500px;

$mHaF_img_mt: 80px;
$mHaF_img_W: 80%;
$mHaF_img_H: 80%;

$mHaF_h2_fs: 30px;
$mHaF_h2_color: black;
$mHaF_h2_ta: center;
$mHaF_h2_m: 10px;
$mHaF_h2_fw: bold;

$liB_fs: 20px;
$liB_mr: 10px;
$liB_color: black;

$li_p_color: black;
//////////////////////////////////mHaFg
$mHaFg_W: 100%;

$mHaFgKwD_mt: 20px;
$mHaFgKwD_H: 260px; 
$mHaFgKwD_color: rgb(61, 57, 177);

$mHaFgKwD_img_mt: 6px;
$mHaFgKwD_img_ml: 15px;
$mHaFgKwD_img_mr: 20px;
$mHaFgKwD_img_H: 200px;

$mHaFgKwD_h2_fs: 30px;
$mHaFgKwD_h2_c:white;
$mHaFgKwD_h2_m: 10px;

$margin_W: 100%;
$margin_H: 100px;